<div >
  <div class="container grid place-content-center mt-40 text-2xl  ">
    <label class="mt-2 text-base" for="">Username</label>
    <input type="text" formControlName="firstName"   [(ngModel)]="username" name="username" class="w-96   border-none focus:outline-none p-10 block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-400 sm:text-sm sm:leading-6 focus:ring-violet-300 focus:border-gray-500 outline-blue-500   focus:cursor-auto outline-blue-500 border-b- border-t-0 border-l-0 border-r-0 border-grey-dark" >
   
   
    <label  class="mt-2 text-base" for=""> Password</label>
    <input type="text"  required   [(ngModel)]="password"  name="password" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset  focus: outline-blue-500 focus:ring-slate-400 sm:text-sm sm:leading-6" >
    <button  (click)="getdata(username,password)" class="bg-blue-400 p-2 my-2   transition duration-300 delay-150 hover:delay-750 hover:bg-blue-200 rounded-full">Login</button>
    <!-- <input type="email" name=""   placeholder="text" class="focus:ring-slate-400" id=""> -->
   </div>
</div>


<div class="footer  mt-40 text-center">
  <p> ©Privacy policy</p>
</div>