
<h1 class="text-yellow-500 mx-5 text-center mt-20">Responsive Design</h1>

<div class="mx-5 my-5 flex flex-col justify-center  sm:flex-row">
<div class="w-full">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis deleniti iusto sit atque est numquam repellendus culpa, hic ipsa rerum totam corporis explicabo, dolorum perferendis voluptas? Pariatur consequatur accusamus est totam distinctio magnam, alias modi quam asperiores recusandae possimus, reprehenderit, fugiat beatae optio numquam? Blanditiis sit sed voluptatem veniam eos vitae, minima modi nulla neque, sequi voluptatibus quod in odit nesciunt eligendi, nisi enim. Doloribus, fuga. Voluptatibus, consequatur reprehenderit id illo laborum adipisci ipsa. Deserunt ea, neque hic, nesciunt similique quod non commodi nostrum dolores cum il.</div>
<div class="max-w-full mx-auto my-5"><img src="../../assets/images.jpeg" alt=""></div>
</div>

<div class="flex flex-wrap justify-center mx-5 my-5  mx-auto  sm:flex-row">
<div class="basis-1/5 bg-slate-500 m-2 h-20">one</div>
<div class="basis-1/5 bg-slate-500 m-2 h-20">two</div>
<div class="basis-1/5 bg-slate-500 m-2 h-20  "> three</div>
<div class="basis-1/2 bg-slate-500 m-2 h-20 sm:basis-1/5">Four</div>
</div>
<div class="mx-auto bg-orange-500  bg-fixed ">
tagline
</div>