<div class="flex py-2  flex-row bg-orange-500 justify-center">
  <p class=" text-white font-bold text-center mr-2">For Knowing More Information Contact Us  </p>
<span class="flex flex-row"><img class="rounded-full" src="../assets/download.png" alt="" width="30px">
<p class="text-white pl-1 underline hover:text-black" >+91-7856453234</p>
</span>
</div>
<div class="heading flex flex-row justify-between">

  <div class="links">
    <ul class="flex flex-row mt-4 ml-4">
      <li class="mr-5  hover:decoration-dashed hover:border-green-600 hover:text-green-700 border-2 bg-green-300 p-3  hover:bg-white  hover:text-black hover:border-2" ><a routerLink="signup">Home</a></li>
      <li class="mr-5 border-2 hover:decoration-dashed hover:border-green-600 hover:text-green-700 bg-green-300 p-3  hover:bg-white  hover:text-black hover:border-2"><a routerLink="about">About</a></li>
      <li class="mr-5 border-2 hover:decoration-dashed hover:border-green-600  hover:text-green-700 bg-green-300  hover:bg-white  hover:text-black p-3 hover:border-2" ><a routerLink="products">Products</a></li>
      <li class="mr-5 border-2 hover:decoration-dashed  hover:border-green-600 hover:bg-white  hover:text-black bg-green-300  p-3 hover:border-green-600 hover:border-2"><a routerLink="careers">Careers</a></li> 
      
    </ul>
  </div>
     
      <div class="mt-4 ml-4 flex flex-row justify-between">
        <p class="mt-4">already a user?</p>
        <button  class="bg-yellow-400 p-2 my-2 hover:bg-blue-200 mr-4 rounded-full" >  <a routerLink="/login">Login</a></button>
      </div>
      
</div>

<router-outlet></router-outlet> 
<!-- <app-signup></app-signup>



<!-- <app-responsive></app-responsive> -->