{{hero}}
<div >
    <div class="container grid place-content-center mt-40 text-2xl  ">
      <label class="mt-2 text-base" for="">Your username*</label>
      <input type="text" placeholder="for ex.shruti" class="w-96 p-10 block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-400 sm:text-sm sm:leading-6 focus:ring-violet-300 focus:border-gray-500 outline-blue-500   focus:cursor-auto outline-blue-500">
      <label class="mt-2 text-base " for="">Your Email</label>
      <input type="text"  placeholder="kelvinami@gmail.com" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-400 sm:text-sm sm:leading-6 outline-blue-500">
      <label class="mt-2 text-base" for="">Your Password*</label>
      <input type="text"  class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-slate-400 sm:text-sm sm:leading-6 outline-blue-500">
      <label  class="mt-2 text-base" for="" >Repeat Password*</label>
      <input type="text" #pass class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset  focus: outline-blue-500 focus:ring-slate-400 sm:text-sm sm:leading-6">
      <button   (click)="updatedatachild.emit(pass.value)" class="bg-blue-400 p-2 my-2 hover:bg-blue-200 rounded-full  transition duration-300 delay-150 hover:delay-750">Sign In</button>
      <!-- <input type="email" name=""   placeholder="text" class="focus:ring-slate-400" id=""> -->
     </div>
  </div>
  
  <div class="footer  my-5 text-center">
    <p> ©Privacy policy</p>
  </div>