<img  height="300px" class="pl-20 pt-5"  src="../../assets/home1.png" alt="">
<div class=" "  class="bg-fixed   pt-40 pl-20 bg-no-repeat bg-cover" style="background-image: url('../../assets/title.jpeg')">
   <div class=" bg-white p-10 ">
    <div class="">
        <p (click)="click1()">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="w-3/5 text-2xl font-semibold">Lorem ipsum dolor <span class=" px-2 bg-black text-white">sit amet consectetur adipisicing elit</span>. At sunt dolores quam.</p>
        <p class="w-2/4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta ipsum esse velit quos similique quae  </p>
        <div class="flex flex-row ">
       <button  #validate (click)="rxjsEvent()" class="bg-transparent hover:bg-black text-gray-500 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded">More info</button>
    <button class="bg-transparent hover:bg-black text-gray-500 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded ml-5">More info</button>
</div>
</div>


   </div>
</div>

<!-- <div  [formGroup]="searchform">
    <input type="text"  formControlName="name" (keyup)="readValue()">
</div> -->

<div class=" h-screen pl-20 pt-40 "  class="bg-fixed  h-screen  bg-no-repeat bg-cover" style="background-image: url('../../assets/title.jpeg')">
    <div class="bg-orange-400 text-white flex flex-row  p-10 mr-20">
        <div class="flex-grow " class="w-3/4"> <img   src="../../asets/images.jpeg" alt=""></div>

<div class="flex-grow pl-20 mr-5" >
    <p class=" text-black text-5xl">Empowering Public Goods for Systems Innovation</p> 
   <p class="text-xl">To refresh our ideas of ownership and governance, we are designing and experimenting with new and remembered ways of working together, sharing resources, group decision making. We learn how to steward commons, resources, and people's power for sustainable development and resilience building</p>
   <li >Enabling Responsible Research</li>
   <li>Designing Transformative Process</li>
   <li>Integration Sustainable Solutions</li>
   <li>Accelerating Systems Innovation</li>
</div>
    </div>

    <div class="searchn py-4 py-40 flex justify-center">
        <input class="w-80 h-10  " type="text" placeholder="Search For the Solution...">
        <button class="bg-orange-400 p-2 px-4">Search</button>
    </div>

    <!-- <div class="threediv  flex flex-row justify-center  ">
        <div class="mr-10 p-5 animate-bounce delay-300"> <img src="../../assets/quality.png" alt="">
        </div>
        <div class="mr-10 p-5 animate-bounce">
            <img src="../../assets/support.jpeg" alt="">
        </div>
        <div class="p-5 animate-bounce"><img  src="../../assets/maintainance.jpeg" alt=""></div>
    </div>
      -->
    <!-- <div class="footer  my-10  pb-5 text-center">
        <p> ©Privacy policy</p>
      </div> -->
</div>

